
body {
  background-color: #F9F3EE;
}

 hr {
  border-top-style: dotted;
  border-bottom-style:none ;
  border-left-style: none;
  border-right-style: none;
  border-color: grey;
  border-width: 5px;
  height: 2px;
  width: 3%;
}
img {
  height: 150px;
}

h1 {
    color: #810955;
}

h3 {
     color: #810955;
}

table{
    color: #85586F;
}

ul{
    color: #85586F;
}
ol{
   color: #85586F; 
}